ul {
  list-style: none;
  display: flex;
  justify-content: right;
}
ul li {
  padding: 0 1em;
}
ul li a {
  color: #fff;
  text-decoration: underline;
  transition: .2s;
}
ul li a:hover,
ul li a:focus {
  color: rgba(255,255,255,0.65);
}